<div class="about">
  <div class="container">
    <div class="main-sec-two">
      <div>
        <img src="/images/dogTwo.png" style="margin-top: 45px" />
      </div>
      What your pet needs,
      <span>when they need it.</span>
    </div>

    <div class="row align-items-center py-3">
      <div class="col">
        <div class="features">
          <img
            src="/images/support.png"
            style="
              margin-left: 170px;
              border: 1px solid #b0c4de;
              background-color: #b0c4de;
              padding: 8px 9px;
              border-radius: 8px;
            "
          />
          <div class="feature-details">24/7 Support</div>
          <div class="description">
            Shop online to get<br />
            orders over $35 shipped<br />
            fast and free.
          </div>
        </div>
      </div>
      <div class="col">
        <div class="features">
          <img
            src="/images/truck.png"
            style="
              margin-left: 170px;
              border: 1px solid #b0c4de;
              background-color: #b0c4de;
              padding: 8px 9px;
              border-radius: 8px;
            "
          />
          <div class="feature-details">Free same-day <br />delivery</div>
          <div class="description">
            Order by 2pm local time to <br />
            get free delivery on orders<br />
            $35+ today.
          </div>
        </div>
      </div>
      <div class="col">
        <div class="features">
          <img
            src="/images/shield.png"
            style="
              margin-left: 170px;
              border: 1px solid #d8bfd8;
              background-color: #d8bfd8;
              padding: 8px 9px;
              border-radius: 8px;
            "
          />
          <div class="feature-details">Security payment</div>
          <div class="description">
            35% off your first order plus<br />
            5% off all future orders.<br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
