<div class="best-seller">
  best <span>seller</span>
  <div class="container mt-4">
    <div class="row" style="margin: 0 55px">
      <div class="col">
        <div class="item">
          <div>
            <img src="/images/cat-stuff.png" />
          </div>
          <div class="rating-product">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <div class="item-text">Nam justo libero porta ege</div>
          <div class="price">$85.00</div>
        </div>
      </div>
      <div class="col">
        <div class="item">
          <div>
            <img src="/images/dog-vessel.png" />
          </div>
          <div class="rating-product">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <div class="item-text">Morbi vel arcu scelerisque</div>
          <div class="price">$85.00</div>
        </div>
      </div>

      <div class="col">
        <div class="item">
          <div>
            <img src="/images/dog-healtcare.png" />
          </div>
          <div class="unique">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <div class="item-text">Etiam commodo leo sed</div>
          <div class="price">$85.00</div>
        </div>
      </div>
      <div class="col">
        <div class="item">
          <div>
            <img src="/images/stuff.png" />
          </div>
          <div class="rating-product">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <div class="item-text">Morbi vel arcu scelerisque</div>
          <div class="price">$85.00</div>
        </div>
      </div>
    </div>
  </div>
</div>
