<div class="hero-header">
  <div class="container-fluid">
    <div
      class="row"
      style="
        background: linear-gradient(
            298.2deg,
            rgba(251, 90, 0, 0.2) 28.63%,
            rgba(0, 0, 0, 0) 96.07%,
            rgba(249, 229, 57, 0.108) 96.07%
          ),
          #ffc632;
        height: 648px;
      "
    >
      <div class="col-6">
        <div class="section-left-main left-side">
          <div class="main-title">Pet food of <br />Supermarket</div>
          <div class="short-info">
            <p>
              There are many variations of passages of<br />
              Lorem Ipsum available, but the majority have<br />
              suffered alteration in some form,<br />
            </p>

            <b-btn
              variant="primary"
              size="lg"
              style="
                color: #ffffff;
                background: #f63d3d;
                border-radius: 110px;
                padding: 8px 39px 8px 39px;
                box-shadow: 0px 0px 20px rgba(246, 61, 61, 0.7);
                font-weight: 500;
                font-size: 20px;
              "
              >Shop Top</b-btn
            >

            <b-btn
              variant="primary"
              size="lg"
              style="
                color: #f63d3d;
                background: linear-gradient(
                    298.2deg,
                    rgba(251, 90, 0, 0.2) 28.63%,
                    rgba(0, 0, 0, 0) 96.07%,
                    rgba(249, 229, 57, 0.108) 96.07%
                  ),
                  #ffc632;
                border: 2px solid #f63d3d;
                border-radius: 110px;
                padding: 8px 39px 8px 39px;
                margin-left: 10px;
                font-weight: 500;
                font-size: 20px;
              "
              >shop Now</b-btn
            >
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="image">
          <img
            src="/images/dog.png"
            style="width: 450px; height: 500px; margin: 148px 150px 0px 660px"
          />
        </div>
        <!-- <div class="image">
          <img
            src="/images/Ellipse.png"
            style="width: 450px; height: 500px; margin: 148px 150px 0px 660px"
          />
        </div> -->
      </div>
    </div>
  </div>
</div>
