</div><div class="pet-care">
    <div class="container mt-5">
      <div class="row">
        <div class="col-6">
          <div class="left-category">
            <div class="row">
              <div class="col-1">
                <div>
                  <img src="/images/heart.png" />
                  <!-- <img src="/images/plus.png" /> -->
                </div>
              </div>
              <div class="col-11 left-category-feature">
                <div>
                  <h6>petco</h6>
                  <h1 class="vital-care">Vital Care</h1>
                </div>
              </div>
            </div>
            <div>
              <div class="paragraph">
                Save big annually with our veterinarian <br />
                recommended wellness plan.
              </div>
              <div class="btn-category">
                <b-btn
                  variant="primary"
                  size="lg"
                  style="
                    color: #ffffff;
                    font-size: 24px;
                    background: #f63d3d;
                    border-radius: 110px;
                    padding: 8px 39px 8px 39px;
                    box-shadow: 0px 0px 20px rgba(246, 61, 61, 0.7);
                  "
                  >Shop Now </b-btn
                >
              </div> 
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="two-images">
            <div
              style="
                min-height: 100%;
                background-image: url('/images/red-background.png');
                width: 514px;
                height: 348px;
              "
            >
              <img
                src="/images/woman-holds-the-dog.png"
                style="position: relative; left: 42px; bottom: 70px"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>