<div class="pet-kitchen">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="girl-with-dog-picture">
          <img src="/images/little-girl-with-dog.png" />
        </div>
      </div>
      <div class="col">
        <div class="puppy-kitten-headline">
          new <span>puppy</span> or kitten?
        </div>
        <div class="puppy-kitten-description">
          Discover everything you need to make them <br />
          <p>feel at home</p>
        </div>
        <button class="my-button">Shop kitchen</button>
      </div>
      <div class="col"><img src="/images/cat-dog.png" /></div>
    </div>
  </div>
</div>
