<div class="pet-food">
  <div
    class="container-fluid quality-garantee"
    style="
      background-image: url('/images/yellow-background.png');
      background-repeat: no-repeat;
      background-size: cover;
    "
  >
    <div class="row">
      <!-- <img src="/images/yellow-background.png" /> -->
      <div class="col-6">
        <div class="cat-image">
          <img src="/images/cat-two.png" style="width: 121%; height: 61%" />
        </div>
      </div>
      <div class="quarantee align-self-center col offset-1">
        <div class="taste-item">
          <div class="taste-item1">
            <div class="iconWrapper">
              <img src="/images/cake.png" />
            </div>
          </div>

          <div class="icon-text-second">
            <small
              style="
                font-size: 14px;
                line-height: 0;
                display: block;
                font-weight: 500;
              "
              >Taste</small
            ><span>Guarantee</span>
          </div>
        </div>
        <div class="taste-paragraph">
          <div class="taste-paragraph-first">
            Taste it, love it or we’ll replace<br />
            it… Guaranteed!
          </div>
          <div class="taste-paragraph-second">
            At Petio, we believe your dog and cat will love<br />
            their food so much that if they don’t … we’ll<br />
            help you find a replacement. That’s our taste<br />
            guarantee.
          </div>
        </div>
        <b-btn
          variant="primary"
          size="lg"
          style="
            color: #ffffff;
            font-size: 18px;
            line-height: 26px;
            background: #f63d3d;
            border-radius: 110px;
            padding: 8px 39px 8px 39px;
            box-shadow: 0px 0px 20px rgb(246 61 61 / 70%);
          "
          >Find More</b-btn
        >
      </div>
    </div>
  </div>
</div>
