<div class="popular-brands">
  Popular <span>brands</span>
  <div class="container mt-4">
    <div class="row" style="justify-content: center">
      <div
        class="col-2"
        style="
          border: 1px solid #f63d3d;
          border-radius: 8px;
          display: flex;
          justify-content: center;
          margin: 0 15px;
          width: 270px;
          height: 157px;
        "
      >
        <div class="item">
          <img src="/images/husky.png" style="width: 150px; height: 150px" />
        </div>
      </div>
      <div
        class="col-2"
        style="
          border: 1px solid #f63d3d;
          border-radius: 8px;
          display: flex;
          justify-content: center;
          margin: 0 15px;
          width: 270px;
          height: 157px;
        "
      >
        <div class="item">
          <img
            src="/images/flying-dog.png"
            style="width: 150px; height: 150px"
          />
        </div>
      </div>
      <div
        class="col-2"
        style="
          border: 1px solid #f63d3d;
          border-radius: 8px;
          display: flex;
          justify-content: center;
          margin: 0 15px;
          width: 270px;
          height: 157px;
        "
      >
        <div class="item">
          <img src="/images/dog-logo.png" style="width: 150px; height: 150px" />
        </div>
      </div>
      <div
        class="col-2"
        style="
          border: 1px solid #f63d3d;
          border-radius: 8px;
          display: flex;
          justify-content: center;
          margin: 0 15px;
          width: 270px;
          height: 157px;
        "
      >
        <div class="item">
          <img src="/images/dog-cat.png" style="width: 150px; height: 150px" />
        </div>
      </div>
    </div>
  </div>
</div>
