<div class="top-categories">
  Top <span>categories</span>
  <div class="container mt-3">
    <div class="row" style="margin: 0 60px">
      <div class="col">
        <div class="item">
          <div class="image-background">
            <div class="middle"><img src="/images/cat.png" /></div>
          </div>
          <p>Cat Toys</p>
        </div>
      </div>
      <div class="col">
        <div class="item">
          <div class="image-background">
            <div class="middle"><img src="/images/cat-food.png" /></div>
          </div>
          <p>Cat Food</p>
        </div>
      </div>
      <div class="col">
        <div class="item">
          <div class="image-background">
            <div class="middle"><img src="/images/dog-bone.png" /></div>
          </div>
          <p>Dog Toys</p>
        </div>
      </div>
      <div class="col">
        <div class="item">
          <div class="image-background">
            <div class="middle"><img src="/images/dog-food.png" /></div>
          </div>
          <p>Dog Food</p>
        </div>
      </div>
    </div>
  </div>
</div>
